<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf 3 + Spring 4 example</title>
    <meta charset="utf-8" />
    <script  type="text/javascript" th:src="@{bootstrap/js/jquery-2.2.2.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.theme.css}"></link>
</head>
<body>
<h1>Thymeleaf 3 + Spring 4 example</h1>
<p>
    haha
</p>
</body>
</html>

<script th:inline="javascript">


</script>